@model TodoDTO
@{
    Layout = null;
}

<div class="todo-item @(Model.StatusCss)">
    <div class="todo-item-inner">
        <div class="n-chk text-center">
            <label class="new-control new-checkbox todoImportantChk checkbox-primary">
                <input type="checkbox" class="new-control-input inbox-chkbox" onchange="toggleDone(event, @(Model.TD_ID), $(this).is(':checked'))" 
                       @(Model.TD_StatusID == EN_TodoStatus.Completed.ID ? " checked " : "")>
                <span class="new-control-indicator"></span>
            </label>
        </div>

        <div class="todo-content">
            <h5 class="todo-heading">@(Model.TD_Title)</h5>
            <p class="meta-date">@(Model.TD_CreationDate.ToString("ddd dd MMM yyyy"))</p>
            <p class="todo-text">@(Model.TD_Content)</p>
        </div>

        <div class="important-star-container @(Model.ImportantCss)">
            <span class="important-star warning" onclick="toggleImportant(event, @(Model.TD_ID), @((!Model.TD_Important).ToString().ToLower()))">
                <partial name="~/Areas/Admin/Views/Shared/svg/feather-star.cshtml" />
            </span>
        </div>

        <div class="priority-dropdown custom-dropdown-icon">
            <div class="dropdown p-dropdown">
                <a class="dropdown-toggle @(Model.PriorityCss)" href="#" role="button" id="priorityDrp-@(Model.TD_ID)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <partial name="~/Areas/Admin/Views/Shared/svg/feather-alert-octagon.cshtml" />
                </a>

                <div class="dropdown-menu" aria-labelledby="priorityDrp-@(Model.TD_ID)">
                    <a class="dropdown-item danger" href="#" onclick="togglePriority(event, @(Model.TD_ID), @((int)TodoPriorityEnum.Hight))">
                        <partial name="~/Areas/Admin/Views/Shared/svg/feather-alert-octagon.cshtml" />
                        High
                    </a>
                    <a class="dropdown-item warning" href="#" onclick="togglePriority(event, @(Model.TD_ID), @((int)TodoPriorityEnum.Medium))">
                        <partial name="~/Areas/Admin/Views/Shared/svg/feather-alert-octagon.cshtml" />
                        Middle
                    </a>
                    <a class="dropdown-item primary" href="#" onclick="togglePriority(event, @(Model.TD_ID), @((int)TodoPriorityEnum.Low))">
                        <partial name="~/Areas/Admin/Views/Shared/svg/feather-alert-octagon.cshtml" />
                        Low
                    </a>
                </div>
            </div>
        </div>

        <div class="action-dropdown custom-dropdown-icon">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="actionDrp-@(Model.TD_ID)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <partial name="~/Areas/Admin/Views/Shared/svg/feather-more-vertical.cshtml" />
                </a>
                <div class="dropdown-menu" aria-labelledby="actionDrp-@(Model.TD_ID)">
                    <a class="edit dropdown-item" href="#" onclick="editTask(event, @(Model.TD_ID))">Edit</a>
                    <a class="important dropdown-item" href="#" onclick="toggleImportant(event, @(Model.TD_ID), @((!Model.TD_Important).ToString().ToLower()))">Important</a>
                    <a class="dropdown-item delete" href="javascript:void(0);">Delete</a>
                    <a class="dropdown-item permanent-delete" href="javascript:void(0);">Permanent Delete</a>
                    <a class="dropdown-item revive" href="javascript:void(0);">Revive Task</a>
                </div>
            </div>
        </div>

    </div>
</div>
